@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
:root body {
  font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans,
    sans-serif !important;
  background-color: white !important;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-size: 1rem;
}

p,
p .h6 {
  font-size: 1rem;
}

/* First Header */
.universal-nav {
  background-color: #e8e8e8;
  min-height: 24px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.19, 1) 0s;
  margin-right: 0;
  .nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .list-inline {
      padding: 1px;
      margin: 0px;
    }
    .list-inline-item:not(:last-child) {
      margin-right: 0;
    }
  }
  .nav-container ul > li.list-inline-item {
    font-size: 12px;

    .nav-link {
      color: rgb(72, 72, 72);
      font-size: 0.75rem;
      line-height: 0.75rem;
      padding: 0.25rem 0.5rem;
      margin-right: 0.5rem;
      white-space: nowrap;
      text-decoration: none;
    }
  }
}

#basic-addon1 {
  padding: 0.675rem 0.75rem;
}

/* Second Header */

@media (min-width: 993px) {
  .title-subunit-name {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
    font-weight: 700;
    margin: 0.5rem 0px 0px 0px;
    letter-spacing: -0.06rem;
  }
  .subunit-name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0px;
    display: inline-block;
    letter-spacing: -0.06rem;
  }
}

.second-header {
  padding: 0 12px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(208, 208, 208);
}

.container-xl {
  height: 100%;
  max-width: 1224px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.asu-logo {
  width: 93px;
  height: 72px;
  content: url(../images/arizona-state-university-logo-vertical.webp);
  background-repeat: no-repeat;
  background-size: cover;

  .vert {
    display: block;
    height: 72px;
    width: auto;
    margin: 20px 1rem 20px 0px;
  }
}

.title-subunit-name {
  background-image: linear-gradient(
    to right,
    transparent 51%,
    rgb(255, 198, 38) 51%,
    95%,
    transparent
  );
  background-position: 0px 0px;
  background-size: 200%;
  text-decoration: none;
  display: inline-block;
  color: black;
  transition: all 1.5s cubic-bezier(0.19, 1, 0.19, 1) 0s;
}
.title-subunit-name.active {
  background-position: -200% center;
}
.expand-title {
  width: 100%;
}

.itdiqF {
  position: relative;
  padding: 0px;
  margin: 0px 0.5rem 0px 0px;
  border-bottom: 0px solid #ffc627;

  .active {
    border-bottom: 5px solid #ffc627;
  }
  a {
    display: inline-block;
    position: relative;
    padding: 0.5rem 0.75rem;
    line-height: 1rem;
    color: black;
  }
}

.cVsgpr {
  position: fixed;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(208, 208, 208);
  margin: 0px;
  z-index: 1031;
  visibility: hidden;
  white-space: normal;
}

.btn-new-chat {
  background-color: #8c1d40;
  font-size: 1rem;
  font-weight: 600;
  border-color: transparent;
  border-radius: 3rem;
  padding: 8px 24px;
}
.btn-new-chat:hover {
  background-color: #8c1d40;
  color: white;
  transform: scale(1.05);
}

.chatbot-guidelines {
  padding: 1rem 2rem;
  gap: 0.25rem;
  /* display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0; */

  .waterdrop1 {
    width: 5.8125rem;
    height: 6.8125rem;
    content: url(../images/WaterDrop1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .waterdrop2 {
    width: 5.8125rem;
    height: 6.8125rem;
    content: url(../images/WaterDrop2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .waterdrop3 {
    width: 5.8125rem;
    height: 6.8125rem;
    content: url(../images/WaterDrop3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .waterdrop4 {
    width: 5.8125rem;
    height: 6.8125rem;
    content: url(../images/WaterDrop4.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .waterdrop5 {
    width: 5.8125rem;
    height: 6.8125rem;
    content: url(../images/WaterDrop5.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .chatbot-welcome {
    /*display: flex; */
    align-items: center;
    gap: 1rem;

    .chatbottext-cta {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }
  .chatbot-history {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
.welcome-message-scroll {
  display: inline-flex;
  flex-direction: column;
  justify-items: left;
  align-items: stretch;
  gap: 0.5rem;
  height: calc(100vh - 555px);
  overflow-y: auto;
}
.accordion-button:not(.collapsed) {
  background-color: #b8dfe6;
}
.links-resources {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.links-resources > ul.list-unstyled > li > a {
  position: relative;
  /* display: inline-block; */
}
.links-resources > ul.list-unstyled > li > a:after {
  content: "";
  position: absolute;
  padding-top: 4px;
  left: 0;
  top: 100%;
  width: 0;
  height: 6px;
  background-color: #ffc627;
  transition: width 0.3s ease-in-out;
}
.links-resources > ul.list-unstyled > li > a:hover:after {
  width: 100%;
}

.waterdrop1 {
  width: 5.8125rem;
  height: 6.8125rem;
  content: url(../images/WaterDrop1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.waterdrop2 {
  width: 5.8125rem;
  height: 6.8125rem;
  content: url(../images/WaterDrop2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.waterdrop3 {
  width: 5.8125rem;
  height: 6.8125rem;
  content: url(../images/WaterDrop3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.waterdrop4 {
  width: 5.8125rem;
  height: 6.8125rem;
  content: url(../images/WaterDrop4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.waterdrop5 {
  width: 4.8125rem;
  height: 5.8125rem;
  content: url(../images/WaterDrop5.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.chatbottext-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.0625rem;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

/* Chatbot-prompt */
.chatbot-prompt-container {
  padding: 1rem 10rem 0rem 10rem;
  background-color: #f9f9f9;
  /* min-width: 100vh; */
  /* overflow: overlay; */
  /* overscroll-behavior: contain; */
}
@media (max-width: 992px) {
  .chatbot-prompt-container {
    padding: 1rem 2rem 0rem 2rem;
  }
}
.chatbot-prompt {
  display: flex;
  flex-direction: column;
  justify-items: left;
  align-items: stretch;
  gap: 0.5rem;
  height: calc(100vh - 310px);
  overflow-y: auto;
  flex-shrink: 0;
  padding-bottom: 10px;
}
.card-footer {
  background-color: inherit;
  border-radius: 20px;
}
.card {
  display: flex;
  position: relative;
  border: transparent;
  background-color: transparent;
}

.reactions {
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}
.dislike-buttons{
  border: 1px solid #8c1d40;
  border-radius: 20px;
  margin-right:5 rem;
}
.waterdrop1,
.waterdrop2, waterdrop5 {
  width: 3.625rem;
  height: 4.25rem;
  flex-shrink: 0;
}
.waterdrop3 {
  width: 3.25rem;
  height: 3.25rem;
  flex-shrink: 0;
}
.waterdrop4 {
  width: 8.25rem;
  height: 8.25rem;
  flex-shrink: 0;
}
.bot-message-body,
.welcome-message-body {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  gap: 0.5rem;
  padding-left: 0.5rem;
  word-wrap: break-word;
  flex-grow: 1;
  background: #eeeeee;
  /* border-radius: 0.5rem 0.5rem 0rem 0rem; */
  border-radius: 0.5rem;
  padding: 1rem;
}

.message-body {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  /* gap: 0.5rem; */
  word-wrap: break-word;
  flex-grow: 1;
  padding: 1rem;
  background: #eee;
  border-radius: 1rem;
}
.chxatbot-question {
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  align-self: right;
  padding: 0;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
.user-message {
  display: flex;
  justify-content: flex-end;
}
.chatbot-question {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message-body {
  background: linear-gradient(
      180deg,
      hsl(207, 83%, 57%) 0%,
      hsl(212, 54%, 52%) 50%,
      hsl(206, 66%, 33%) 92%
    )
    no-repeat center;
  background-attachment: fixed;
  color: #fff;
  border-radius: 0.5rem 0.2rem 0.2rem 0.5rem;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0.12rem 0.5rem;
  /* margin-left: 20%; */
}

.chatbot-question > div:first-child {
  border-radius: 0.5rem 1rem 0.2rem 0.5rem;
}
.chatbot-question > div:last-child {
  border-radius: 0.5rem 0.2rem 1rem 0.5rem;
}

.chatbot-response {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.fa-1x {
  font-size: 1.25rem;
}

.bi-hand-thumbs-up,
.bi-hand-thumbs-down,
.followup-buttons,
.dislike-buttons {
  cursor: pointer;
  color: #8c1d40;
  background: white;
  border: 1px solid #8c1d40;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}

.feedback-button,.feedback-other-button, .modal-feedback-button{
  background: #FFC627;
  border-radius: 20px;
  border: 1px solid #FFC627;
}

.feedback-button:hover, .feedback-other-button:hover, .modal-feedback-button:hover{
  border: 1px solid black;
}

.reaction-feedback {
  /* content: "\F407" !important; */
  color: white !important;
  background: #8c1d40 !important;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}
.btn-group {
  text-align: center; /* Align buttons in the center */
}

.dislikeButton-feedback {
  /* content: "\F407" !important; */
  color: white !important;
  background: #8c1d40 !important;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  align-self: center;
}
.bi-hand-thumbs-up:hover,
.bi-hand-thumbs-down:hover,
.followup-buttons:hover,
.dislike-buttons:hover {
  color: white;
  background: #8c1d40;
  border: 1px solid black;
  cursor: pointer;
}

.followup-selected{
  color: white;
  background: #8c1d40;
}

.input-chatbot-question {
  border: 1px solid black;
  align-self: right;
}
.user-icon-background {
  color: #8c1d40;
}

.btn-submit {
  background-color: #8c1d40;
  color: white;
  border-radius: 0rem 1rem 1rem 0rem;
  padding: 0.75rem 1.25rem;
}
.btn-submit:hover {
  background-color: #8c1d40;
  color: white;
  transform: scale(1.05);
}
.disclosure {
  color: #747474;
  margin: 0;
  font-size: 14px;
}

.loading-animation {
  display: none;
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #8c1d40;
  color: #8c1d40;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #8c1d40;
  color: #8c1d40;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #8c1d40;
  color: #8c1d40;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #8c1d40;
  }
  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}

.left {
  float: left;
  max-width: 90%;
  justify-content: flex-end;
}
.right {
  justify-content: flex-end;
}

.loader {
  width: 24px;
  height: 24px;
  border: 3px solid hsl(207, 55%, 54%);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border: 3px solid hsl(210, 64%, 65%);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}
.btn-mic:hover svg {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
.btn-mic:hover {
  background-color: #8c1d40;
  color: white;
}
.language-text {
  width: 83px;
  height: 18px;
  flex-shrink: 0;
  color: #191919;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.language-toggle-container {
  width: 140px; /* Adjusted width to fit the buttons */
  height: 35px; /* Adjusted height to fit the buttons */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25.5px; /* Ensure it matches the button border-radius */
  background-color: #606060;
  overflow: hidden; /* Ensure buttons fit within the container */
  margin-bottom: 20px; /* Add margin-bottom to create space below the button */
}

.language-toggle {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 25.5px;
  overflow: hidden;
}

.language-button {
  flex: 1;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-weight: 700;
}

.language-button.english-button {
  background: #8C1D40;
  color: #FFFFFF;
  border-top-left-radius: 25.5px;
  border-bottom-left-radius: 25.5px;
  border-top-right-radius: 0;  /* Adjust border radius */
  border-bottom-right-radius: 0;  /* Adjust border radius */
  width: 70px; /* Adjusted width */
  height: 35px; /* Adjusted height */
  font-size: 12px; /* Adjusted font size */
  padding: 5px 0; /* Adjusted padding */
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-button.spanish-button {
  background: #606060;
  color: #FFFFFF;
  border-top-right-radius: 25.5px;
  border-bottom-right-radius: 25.5px;
  border-top-left-radius: 0;  /* Adjust border radius */
  border-bottom-left-radius: 0;
  font-family: Montserrat, sans-serif;
  font-size: 12px; /* Adjusted font size */
  text-transform: uppercase;
  width: 70px; /* Adjusted width */
  height: 35px; /* Adjusted height */
  padding: 5px 0; /* Adjusted padding */
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-button.active {
  background-color: #8C1D40;
  color: #FFFFFF;
}
